.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #00f7ff, #015eff);
    padding: 20px;
    font-family: 'Noto Sans Thai', sans-serif;
    
}

.inputContainer {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input {
    padding: 12px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    margin-right: 15px;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007BFF;
    outline: none;
}

.setGridButton {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: white;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.setGridButton:hover {
    background-color: #0056b3;
    color: white;
}

.currentPlayer {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(255, 220, 62);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    
}

.cell:hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.winner {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(255, 220, 62);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.buttons {
    display: flex;
    gap: 15px;
}

.button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
    color: white;
}


@media (max-width: 768px) {
    .input {
        width: 150px;
        font-size: 18px;
    }

    .setGridButton,
    .button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .currentPlayer {
        font-size: 20px;
    }

    .cell {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .winner {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .input {
        width: 120px;
        font-size: 16px;
    }

    .setGridButton,
    .button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .currentPlayer {
        font-size: 18px;
    }

    .cell {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .winner {
        font-size: 20px;
    }
}